@import 'order.css';

*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.img-responsive{
    width: 100%;
}

.img-curve{
    border-radius: 10px;
}

.container{
    width: 80%;
    margin: 0 auto ;
    padding: 1%;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.clearfix{
    clear: both;
    float: none;
}


a{
    color: #d75e25;
    text-decoration: none;
}
a:hover{
    color: rgb(233, 62, 10);
}
h2{
    font-size: 2rem;
    margin: 2%;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    color: white;
}

.btn-primary{
    background-color: #d75e25;
    cursor: pointer;
}

.btn-primary:hover{
    color: white;
    background-color: rgb(233, 62, 10);
    
}

.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

.text-white{
    color: white;
}
/*
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
*/


/*navbar*/
.navbar{
    background-color: bisque;
}
.logo{
    width: 10%;
    float: left;
}

.menu{
    line-height: 60px;
}

.menu ul{
    list-style: none;    
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

.menu ul li a:hover{
    font-size: 1.3rem;
}
/*food-search*/
.food-search{
    background-image: url(../images/bg-edit.jpeg);
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/*categories*/
.categories{
    padding: 4% 0;
    background-color: bisque;
}

.box1{
    width: 28%;
    float: left;
    margin: 2%;
}

/*food-menu*/
.food-menu{
    background-color: rgb(187, 180, 171);
    padding: 4% 0;

}
.food-menu-box{
    border-radius: 10px;
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
}

.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-details{
    font-size: 1rem;
}
.see-all a{
    font-size: 1.5rem;
    color: black;
}

/*social*/
.social ul{
    list-style: none;
}

.social ul li{
    display: inline;
    padding: 2%;
}

/*footer*/
.footer p{
    font-size: 1rem;
}



/*responsive*/

@media only screen and (max-width: 760px){
   .logo{
    width: 80%;
    float: none;
    margin: 1% auto;
   } 
   .menu ul{
    text-align: center;    
    } 
    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 5%;
    }

    .btn{
        width: 90%;
    }
    .categories{
        padding: 10% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box1{
        width: 95%;
        margin: 2%;
    }
    .food-menu{
        background-color: rgb(187, 180, 171);
        padding: 10% 0;
    }
    .food-menu-box{
        width:90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .order{
        width: 100%;

    }
    .food-order{
        background-image: url(../images/order_bg.jpeg);
        background-size: cover;
        width: 100%;
        position: center;
        
    }
}